/* set basic page properties */
html {
	font-family: Sans-Serif;
	font-size: 62.5%;
}

/* links on page are not generally underlined */
a {
	text-decoration: none;
}

/* container properties - needs to be centred in page */
.container {
	font-size: 1em;
	margin: 0 auto;
	width: min(1200px, 100%);
}

/* header properties - this contains floated elements */
header {
	overflow: auto;
	
	background-color: #EEEEEE;
	
	font-size: 1.4em;
}

/* float phone number to the left and have it display as inline block */
.headerContactInfo {
	display:inline-block;
	float: left;
}

/* float search and shopping header to the right */
.headerNavigation {
	display: inline-block;
	float: right;
}

/* Vertical Alignment */
.headerContent {
	padding: 1em 0;
}

/* form, input, search field etc need to display in an inline block */
.headerContent div,a,form,input,label {
	display:inline-block;
	
	color: #999999;
	font-weight: 600;
	
	padding-left: 1em;
}

/* Styling for the nav bar */
nav {
	overflow: auto;
	
	font-size: 1.6em;
	color: #000000;
	font-weight: 700;
}

nav img {
	padding: 2.5em 1em;
	padding-left: 0;
	display: inline-block;
	float:left;
}

.navButtons {
	display: inline-block;
	float: right;
}

.navButton {
	display:inline-block;
	
	color: #000000;
	
	padding: 0.8em;
	margin: 1.8em 0.5em;
}

.home {
	border: 2px solid #000000;
	margin-left: 0;
}

.products .dummy::before {
	content: "HOT DEALS";
	background-color: #FF0000;
	
	color: #FFFFFF;
	font-size: 0.5em;
	
	position: relative;
	left: 4em;
	
}

/* Styling for the first large callout. This has a large image as a background with white text overlaid on top of it */

/* Define "1 rem" reference point in jumbotrons for media queries later */

/* Media Breakpoints for screen resizing */
.jumboTron {
	font-size: 1rem;
}

@media only screen and (max-width: 1200px) {
	.jumboTron {
		font-size: 0.8rem;
	}
	
	.jumboTron img {
		width: 300px;
	}
	
	.swipeContainer {
		width: max(85%, 980px);
	}
}

@media only screen and (max-width: 1000px) {
	.jumboTron {
		font-size: 0.6rem;
	}

}

.jumboTron1 {
	display: block;
	background-image: url("https://cdn.shopify.com/s/files/1/1634/8185/t/2/assets/slide1_image.jpg?v=9240162744247295619");
	background-position: center top;
	background-size: 100% auto;
	overflow: visible;
	
	text-align: center;
	
	width: 100%;
	height: 53em;
}

.slogan {
	display: inline-block;
	
	font-size: 7em;
	font-weight: 600;
	letter-spacing:0.1em;
	color: #FFFFFF;
	
	padding-top: 0.5em;
	padding-bottom: 0.2em;
	
	margin-bottom: 0;
}

.sloganFollowUp {
	display:inline-block;
	
	font-size: 1.8em;
	font-weight: 500;
	letter-spacing: 0.1em;
	color: #FFFFFF;
	
	margin-bottom: 0;
}

.jumbotronButton {
	display:inline-block;
	
	font-size: 1.8em;
	color: #FFFFFF;
	
	padding: 0.8em;
	
	border: 3px solid #FFFFFF;
	
	margin-top: 1em;
}

/* Implementing the three swiper boxes using flexbox */

.swipeContainer {
	display: flex;
	justify-content: space-around;
	
	position: relative;
	bottom: -7em;
	
}

/* Styling for the part of the page which contains the featured products */

.featuredProducts h1 {
	font-size: 1.4em;
	text-align: center;
	
	padding: 4em;
	padding-top: 9em;
}

.productLinks .container {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	
	margin-bottom: 50px;
}

.featuredItem {
	
	width: 20%;
	
	margin: 2%;
}

.priceNow,.oldPrice {
	display:inline-block;
}

/* Styling for the second large callout immediately under the featured items */

.jumbotron2 {
	display: block;
	background-image: url("https://cdn.shopify.com/s/files/1/1634/8185/t/2/assets/homepage_parallax_img.jpg?v=8113678875740113347");
	background-position: 50%;
	background-size: cover;
	overflow: visible;
	
	text-align: center;
	
	width: 100%;
	height: 53em;
}

/* Making the browser width too small results in undesired behaviour, image repeats below. 
   Background image thus cannot get vertically smaller than a specified value */ 

@media only screen and (max-width: 1200px) {
	.jumbotron2 {
		background-size: 150em auto;
		
		font-size: 0.8rem;
	}
}

@media only screen and (max-width: 1000px) {
	.jumbotron2 {
		background-size: 167em auto;
		
		font-size: 0.6rem;
	}
}

.jumbotron2 .slogan {
	font-size: 4em;
	padding-top: 4em;
	font-weight: 500;
	width: 30em;
}

/* Styling for the news section */

.news h1 {
	text-align: center;
	
	margin: 70px;
}

/* Flexbox to contain the news items themselves */

.newsItems .container {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	
	margin-bottom: 70px;
}


@media only screen and (max-width: 800px) {
	.newsItem {
		width: 49%;
	}
}

/* Styling for the newletter sign-up portion of the page */

.newsletterSubscription {
	background-color: #59A1C4;
}

.newsletterSubscription .container {
	
	text-align: center;
	
}

.newsletterSubscription h1,form,input,label {
	display:inline-block;

	color: #FFFFFF;
}

.subscribeForm {
	width: 100%;
}

.subscribeLabel {
	font-size: 1.6em;
}

.subscribe {
	color: #FFFFFF;
	font-size: 1.6em;
	
	padding: 1em;
	
	border: 2px solid #FFFFFF;
	
	margin: 3em 0;
	
}

#email {
	font-size: 0.8em;
	padding: 2em;
	padding-top: 2em;
	border: 2px solid #FFFFFF;
	margin: 1em;
	width: 60%;
}

/* Implement styling rules for information tag at the bottom of the page */
footer {
	background-color: #2D2734;
	
	color: #FFFFFF;
	font-weight: 100;
}

footer .container>div {
	display: inline-block;
	
	vertical-align: text-top;
	
	padding: 7em 3%;
	
	width: 24%;
}

#latestPosts {
	width: 35%;
}

footer p {
	font-size: 1.4em;
	font-weight: 100;
	color: #B6B6B6;
}

#facebook {
	width: 19%;
}

/* Implement styling rules for legal disclaimer at the bottom of the page */

.legal {
	background-color: #27222C;
}

.legal .container {
	
	font-size: 1.2em;
	font-weight: 600;
	color: #ABABAB;
	
	padding: 2em;
}
